/* ----- xs (Extra Small) ----- */
@media (max-width: 1024px) {
    nav#nav {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #000000;
        z-index: 500;
    }

    nav#nav:not(.open) {
        display: none;
    }

        nav#nav button.nav-close {
            position: relative;
            float: left;
            left: 0;
            width: 24px;
            height: 24px;
            padding: 0;
            border: 0;
            margin: 20px 10px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: transparent;
            cursor: pointer;
        }

        nav#nav button.nav-close .material-icons {
            width: 24px;
            height: 24px;
            line-height: 24px;
            font-size: 24px;
            color: #ffffff;
        }

        nav#nav ul {
            position: relative;
            float: left;
            width: 100.0%;
            padding: 20px 44px;
            margin: 0;
            list-style: none;
        }

            nav#nav ul li {
                position: relative;
                float: left;
                width: 100.0%;
                height: 20px;
                margin-bottom: 30px;
            }

            nav#nav ul li.social {
                width: auto;
                margin-right: 16px;
            }

            nav#nav ul li:last-child {
                margin-bottom: 0;
                margin-right: 0;
            }

                nav#nav ul li a {
                    position: relative;
                    float: left;
                    line-height: 20px;
                    font-size: 14px;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #ffffff;
                }

                    nav#nav ul li.social a span {
                        display: none;
                    }

                    nav#nav ul li.social a i {
                        position: relative;
                        width: 20px;
                        height: 20px;
                        font-size: 20px;
                    }

                    nav#nav ul li.social.facebook a i {
                        font-size: 16px;
                        line-height: 1.5;
                    }

                    nav#nav ul li.social.googleplus a i {}

                    nav#nav ul li.social.linkedin a i {
                        font-size: 16px;
                        line-height: 1.4;
                    }

                    nav#nav ul li.social.instagram a i {
                        font-size: 16px;
                        line-height: 1.5;
                    }
}

/* ----- sm (Small) ----- */
@media (min-width: 1025px) {
    nav#nav {
        position: relative;
        float: right;
    }

        nav#nav button.nav-close {
            display: none;
        }

        nav#nav ul {
            position: relative;
            float: right;
            padding: 0;
            margin: 11px 0 7px;
            list-style: none;
        }

            nav#nav ul li {
                position: relative;
                float: left;
                height: 20px;
                margin-right: 60px;
            }

            nav#nav ul li.social {
                margin-right: 16px;
            }

            nav#nav ul li:last-child {
                margin-right: 0;
            }

                nav#nav ul li a {
                    position: relative;
                    float: left;
                    line-height: 20px;
                    font-size: 14px;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #ffffff;
                }

                    nav#nav ul li:hover a span {
                        text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.25), 2px -2px 10px rgba(255, 255, 255, 0.25), -2px -2px 10px rgba(255, 255, 255, 0.25), -2px 2px 10px rgba(255, 255, 255, 0.25);
                    }

                    nav#nav ul li.social a span {
                        display: none;
                    }

                    nav#nav ul li.social a i {
                        position: relative;
                        width: 20px;
                        height: 20px;
                        font-size: 20px;
                    }

                    nav#nav ul li.social:hover a i {
                        text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.25), 2px -2px 10px rgba(255, 255, 255, 0.25), -2px -2px 10px rgba(255, 255, 255, 0.25), -2px 2px 10px rgba(255, 255, 255, 0.25);
                    }

                    nav#nav ul li.social.facebook a i {
                        font-size: 16px;
                        line-height: 1.5;
                    }

                    nav#nav ul li.social.googleplus a i {}

                    nav#nav ul li.social.linkedin a i {
                        font-size: 16px;
                        line-height: 1.4;
                    }

                    nav#nav ul li.social.instagram a i {
                        font-size: 16px;
                        line-height: 1.5;
                    }
}