.grid-row {
    position: relative;
    float: left;
    width: 100.0%;
}

[class*="grid-column-xs-"],
[class*="grid-column-sm-"],
[class*="grid-column-md-"],
[class*="grid-column-lg-"],
[class*="grid-column-xl-"] {
    position: relative;
    float: left;
    min-height: 1px;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
@media (min-width: 0) {
    .grid-row > [class*="grid-column-xs-"]:not(.grid-column-xs-12) {
        margin-left: 2.0%;
    }

    .grid-row > [class*="grid-column-xs-"]:not(.grid-column-xs-12):first-child {
        margin-left: 0;
    }

        .grid-column-xs-12 {
            width: 100.0%;
        }

        .grid-column-xs-11 {
            width: 91.5%;
        }

        .grid-column-xs-10 {
            width: 83.0%;
        }

        .grid-column-xs-9 {
            width: 74.5%;
        }

        .grid-column-xs-8 {
            width: 66.0%;
        }

        .grid-column-xs-7 {
            width: 57.5%;
        }

        .grid-column-xs-6 {
            width: 49.0%;
        }

        .grid-column-xs-5 {
            width: 40.5%;
        }

        .grid-column-xs-4 {
            width: 32.0%;
        }

        .grid-column-xs-3 {
            width: 23.5%;
        }

        .grid-column-xs-2 {
            width: 15.0%;
        }

        .grid-column-xs-1 {
            width: 6.5%;
        }

        .grid-offset-xs-12 {
            margin-left: 0.0%;
        }

        .grid-offset-xs-11 {
            margin-left: 93.5%;
        }

        .grid-offset-xs-10 {
            margin-left: 85.0%;
        }

        .grid-offset-xs-9 {
            margin-left: 76.5%;
        }

        .grid-offset-xs-8 {
            margin-left: 68.0%;
        }

        .grid-offset-xs-7 {
            margin-left: 59.5%;
        }

        .grid-offset-xs-6 {
            margin-left: 51.0%;
        }

        .grid-offset-xs-5 {
            margin-left: 42.5%;
        }

        .grid-offset-xs-4 {
            margin-left: 34.0%;
        }

        .grid-offset-xs-3 {
            margin-left: 25.5%;
        }

        .grid-offset-xs-2 {
            margin-left: 17.0%;
        }

        .grid-offset-xs-1 {
            margin-left: 8.5%;
        }
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
@media (min-width: 641px) {
    .grid-row > [class*="grid-column-sm-"]:not(.grid-column-sm-12) {
        margin-left: 2.0%;
    }

    .grid-row > [class*="grid-column-sm-"]:not(.grid-column-sm-12):first-child {
        margin-left: 0;
    }

        .grid-column-sm-12 {
            width: 100.0%;
        }

        .grid-column-sm-11 {
            width: 91.5%;
        }

        .grid-column-sm-10 {
            width: 83.0%;
        }

        .grid-column-sm-9 {
            width: 74.5%;
        }

        .grid-column-sm-8 {
            width: 66.0%;
        }

        .grid-column-sm-7 {
            width: 57.5%;
        }

        .grid-column-sm-6 {
            width: 49.0%;
        }

        .grid-column-sm-5 {
            width: 40.5%;
        }

        .grid-column-sm-4 {
            width: 32.0%;
        }

        .grid-column-sm-3 {
            width: 23.5%;
        }

        .grid-column-sm-2 {
            width: 15.0%;
        }

        .grid-column-sm-1 {
            width: 6.5%;
        }

        .grid-offset-sm-12 {
            margin-left: 0.0%;
        }

        .grid-offset-sm-11 {
            margin-left: 93.5%;
        }

        .grid-offset-sm-10 {
            margin-left: 85.0%;
        }

        .grid-offset-sm-9 {
            margin-left: 76.5%;
        }

        .grid-offset-sm-8 {
            margin-left: 68.0%;
        }

        .grid-offset-sm-7 {
            margin-left: 59.5%;
        }

        .grid-offset-sm-6 {
            margin-left: 51.0%;
        }

        .grid-offset-sm-5 {
            margin-left: 42.5%;
        }

        .grid-offset-sm-4 {
            margin-left: 34.0%;
        }

        .grid-offset-sm-3 {
            margin-left: 25.5%;
        }

        .grid-offset-sm-2 {
            margin-left: 17.0%;
        }

        .grid-offset-sm-1 {
            margin-left: 8.5%;
        }
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
@media (min-width: 769px) {
    .grid-row > [class*="grid-column-md-"]:not(.grid-column-md-12) {
        margin-left: 2.0%;
    }

    .grid-row > [class*="grid-column-md-"]:not(.grid-column-md-12):first-child {
        margin-left: 0;
    }

        .grid-column-md-12 {
            width: 100.0%;
        }

        .grid-column-md-11 {
            width: 91.5%;
        }

        .grid-column-md-10 {
            width: 83.0%;
        }

        .grid-column-md-9 {
            width: 74.5%;
        }

        .grid-column-md-8 {
            width: 66.0%;
        }

        .grid-column-md-7 {
            width: 57.5%;
        }

        .grid-column-md-6 {
            width: 49.0%;
        }

        .grid-column-md-5 {
            width: 40.5%;
        }

        .grid-column-md-4 {
            width: 32.0%;
        }

        .grid-column-md-3 {
            width: 23.5%;
        }

        .grid-column-md-2 {
            width: 15.0%;
        }

        .grid-column-md-1 {
            width: 6.5%;
        }

        .grid-offset-md-12 {
            margin-left: 0.0%;
        }

        .grid-offset-md-11 {
            margin-left: 93.5%;
        }

        .grid-offset-md-10 {
            margin-left: 85.0%;
        }

        .grid-offset-md-9 {
            margin-left: 76.5%;
        }

        .grid-offset-md-8 {
            margin-left: 68.0%;
        }

        .grid-offset-md-7 {
            margin-left: 59.5%;
        }

        .grid-offset-md-6 {
            margin-left: 51.0%;
        }

        .grid-offset-md-5 {
            margin-left: 42.5%;
        }

        .grid-offset-md-4 {
            margin-left: 34.0%;
        }

        .grid-offset-md-3 {
            margin-left: 25.5%;
        }

        .grid-offset-md-2 {
            margin-left: 17.0%;
        }

        .grid-offset-md-1 {
            margin-left: 8.5%;
        }
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
@media (min-width: 1025px) {
    .grid-row > [class*="grid-column-lg-"]:not(.grid-column-lg-12) {
        margin-left: 2.0%;
    }

    .grid-row > [class*="grid-column-lg-"]:not(.grid-column-lg-12):first-child {
        margin-left: 0;
    }

        .grid-column-lg-12 {
            width: 100.0%;
        }

        .grid-column-lg-11 {
            width: 91.5%;
        }

        .grid-column-lg-10 {
            width: 83.0%;
        }

        .grid-column-lg-9 {
            width: 74.5%;
        }

        .grid-column-lg-8 {
            width: 66.0%;
        }

        .grid-column-lg-7 {
            width: 57.5%;
        }

        .grid-column-lg-6 {
            width: 49.0%;
        }

        .grid-column-lg-5 {
            width: 40.5%;
        }

        .grid-column-lg-4 {
            width: 32.0%;
        }

        .grid-column-lg-3 {
            width: 23.5%;
        }

        .grid-column-lg-2 {
            width: 15.0%;
        }

        .grid-column-lg-1 {
            width: 6.5%;
        }

        .grid-offset-lg-12 {
            margin-left: 0.0%;
        }

        .grid-offset-lg-11 {
            margin-left: 93.5%;
        }

        .grid-offset-lg-10 {
            margin-left: 85.0%;
        }

        .grid-offset-lg-9 {
            margin-left: 76.5%;
        }

        .grid-offset-lg-8 {
            margin-left: 68.0%;
        }

        .grid-offset-lg-7 {
            margin-left: 59.5%;
        }

        .grid-offset-lg-6 {
            margin-left: 51.0%;
        }

        .grid-offset-lg-5 {
            margin-left: 42.5%;
        }

        .grid-offset-lg-4 {
            margin-left: 34.0%;
        }

        .grid-offset-lg-3 {
            margin-left: 25.5%;
        }

        .grid-offset-lg-2 {
            margin-left: 17.0%;
        }

        .grid-offset-lg-1 {
            margin-left: 8.5%;
        }
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
@media (min-width: 1281px) {
    .grid-row > [class*="grid-column-xl-"]:not(.grid-column-xl-12) {
        margin-left: 2.0%;
    }

    .grid-row > [class*="grid-column-xl-"]:not(.grid-column-xl-12):first-child {
        margin-left: 0;
    }

        .grid-column-xl-12 {
            width: 100.0%;
        }

        .grid-column-xl-11 {
            width: 91.5%;
        }

        .grid-column-xl-10 {
            width: 83.0%;
        }

        .grid-column-xl-9 {
            width: 74.5%;
        }

        .grid-column-xl-8 {
            width: 66.0%;
        }

        .grid-column-xl-7 {
            width: 57.5%;
        }

        .grid-column-xl-6 {
            width: 49.0%;
        }

        .grid-column-xl-5 {
            width: 40.5%;
        }

        .grid-column-xl-4 {
            width: 32.0%;
        }

        .grid-column-xl-3 {
            width: 23.5%;
        }

        .grid-column-xl-2 {
            width: 15.0%;
        }

        .grid-column-xl-1 {
            width: 6.5%;
        }

        .grid-offset-xl-12 {
            margin-left: 0.0%;
        }

        .grid-offset-xl-11 {
            margin-left: 93.5%;
        }

        .grid-offset-xl-10 {
            margin-left: 85.0%;
        }

        .grid-offset-xl-9 {
            margin-left: 76.5%;
        }

        .grid-offset-xl-8 {
            margin-left: 68.0%;
        }

        .grid-offset-xl-7 {
            margin-left: 59.5%;
        }

        .grid-offset-xl-6 {
            margin-left: 51.0%;
        }

        .grid-offset-xl-5 {
            margin-left: 42.5%;
        }

        .grid-offset-xl-4 {
            margin-left: 34.0%;
        }

        .grid-offset-xl-3 {
            margin-left: 25.5%;
        }

        .grid-offset-xl-2 {
            margin-left: 17.0%;
        }

        .grid-offset-xl-1 {
            margin-left: 8.5%;
        }
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
@media (max-width: 640px) {
    .grid-row.grid-mosaic-xs-12 > [class*="grid-column-xs-"]:nth-child(12n+1):not(:first-child),
    .grid-row.grid-mosaic-xs-6 > [class*="grid-column-xs-"]:nth-child(6n+1):not(:first-child),
    .grid-row.grid-mosaic-xs-4 > [class*="grid-column-xs-"]:nth-child(4n+1):not(:first-child),
    .grid-row.grid-mosaic-xs-3 > [class*="grid-column-xs-"]:nth-child(3n+1):not(:first-child),
    .grid-row.grid-mosaic-xs-2 > [class*="grid-column-xs-"]:nth-child(2n+1):not(:first-child),
    .grid-row.grid-mosaic-xs-1 > [class*="grid-column-xs-"]:nth-child(1n+1):not(:first-child) {
        margin-left: 0;
        clear: both;
    }

    .grid-row[class*="grid-mosaic-xs-"] > [class*="grid-column-xs-"] {
        margin-bottom: 4.0%;
    }

    .grid-row.grid-mosaic-xs-12 > [class*="grid-column-xs-"]:nth-last-child(-n+12),
    .grid-row.grid-mosaic-xs-6 > [class*="grid-column-xs-"]:nth-last-child(-n+6),
    .grid-row.grid-mosaic-xs-4 > [class*="grid-column-xs-"]:nth-last-child(-n+4),
    .grid-row.grid-mosaic-xs-3 > [class*="grid-column-xs-"]:nth-last-child(-n+3),
    .grid-row.grid-mosaic-xs-2 > [class*="grid-column-xs-"]:nth-last-child(-n+2),
    .grid-row.grid-mosaic-xs-1 > [class*="grid-column-xs-"]:nth-last-child(-n+1) {
        margin-bottom: 0;
    }
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
@media (min-width: 641px) and (max-width: 768px) {
    .grid-row.grid-mosaic-sm-12 > [class*="grid-column-sm-"]:nth-child(12n+1):not(:first-child),
    .grid-row.grid-mosaic-sm-6 > [class*="grid-column-sm-"]:nth-child(6n+1):not(:first-child),
    .grid-row.grid-mosaic-sm-4 > [class*="grid-column-sm-"]:nth-child(4n+1):not(:first-child),
    .grid-row.grid-mosaic-sm-3 > [class*="grid-column-sm-"]:nth-child(3n+1):not(:first-child),
    .grid-row.grid-mosaic-sm-2 > [class*="grid-column-sm-"]:nth-child(2n+1):not(:first-child),
    .grid-row.grid-mosaic-sm-1 > [class*="grid-column-sm-"]:nth-child(1n+1):not(:first-child) {
        margin-left: 0;
        clear: both;
    }

    .grid-row[class*="grid-mosaic-sm-"] > [class*="grid-column-sm-"] {
        margin-bottom: 4.0%;
    }

    .grid-row.grid-mosaic-sm-12 > [class*="grid-column-sm-"]:nth-last-child(-n+12),
    .grid-row.grid-mosaic-sm-6 > [class*="grid-column-sm-"]:nth-last-child(-n+6),
    .grid-row.grid-mosaic-sm-4 > [class*="grid-column-sm-"]:nth-last-child(-n+4),
    .grid-row.grid-mosaic-sm-3 > [class*="grid-column-sm-"]:nth-last-child(-n+3),
    .grid-row.grid-mosaic-sm-2 > [class*="grid-column-sm-"]:nth-last-child(-n+2),
    .grid-row.grid-mosaic-sm-1 > [class*="grid-column-sm-"]:nth-last-child(-n+1) {
        margin-bottom: 0;
    }
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
@media (min-width: 769px) and (max-width: 1024px) {
    .grid-row.grid-mosaic-md-12 > [class*="grid-column-md-"]:nth-child(12n+1):not(:first-child),
    .grid-row.grid-mosaic-md-6 > [class*="grid-column-md-"]:nth-child(6n+1):not(:first-child),
    .grid-row.grid-mosaic-md-4 > [class*="grid-column-md-"]:nth-child(4n+1):not(:first-child),
    .grid-row.grid-mosaic-md-3 > [class*="grid-column-md-"]:nth-child(3n+1):not(:first-child),
    .grid-row.grid-mosaic-md-2 > [class*="grid-column-md-"]:nth-child(2n+1):not(:first-child),
    .grid-row.grid-mosaic-md-1 > [class*="grid-column-md-"]:nth-child(1n+1):not(:first-child) {
        margin-left: 0;
        clear: both;
    }

    .grid-row[class*="grid-mosaic-md-"] > [class*="grid-column-md-"] {
        margin-bottom: 2.0%;
    }

    .grid-row.grid-mosaic-md-12 > [class*="grid-column-md-"]:nth-last-child(-n+12),
    .grid-row.grid-mosaic-md-6 > [class*="grid-column-md-"]:nth-last-child(-n+6),
    .grid-row.grid-mosaic-md-4 > [class*="grid-column-md-"]:nth-last-child(-n+4),
    .grid-row.grid-mosaic-md-3 > [class*="grid-column-md-"]:nth-last-child(-n+3),
    .grid-row.grid-mosaic-md-2 > [class*="grid-column-md-"]:nth-last-child(-n+2),
    .grid-row.grid-mosaic-md-1 > [class*="grid-column-md-"]:nth-last-child(-n+1) {
        margin-bottom: 0;
    }
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
@media (min-width: 1025px) and (max-width: 1280px) {
    .grid-row.grid-mosaic-lg-12 > [class*="grid-column-lg-"]:nth-child(12n+1):not(:first-child),
    .grid-row.grid-mosaic-lg-6 > [class*="grid-column-lg-"]:nth-child(6n+1):not(:first-child),
    .grid-row.grid-mosaic-lg-4 > [class*="grid-column-lg-"]:nth-child(4n+1):not(:first-child),
    .grid-row.grid-mosaic-lg-3 > [class*="grid-column-lg-"]:nth-child(3n+1):not(:first-child),
    .grid-row.grid-mosaic-lg-2 > [class*="grid-column-lg-"]:nth-child(2n+1):not(:first-child),
    .grid-row.grid-mosaic-lg-1 > [class*="grid-column-lg-"]:nth-child(1n+1):not(:first-child) {
        margin-left: 0;
        clear: both;
    }

    .grid-row[class*="grid-mosaic-lg-"] > [class*="grid-column-lg-"] {
        margin-bottom: 2.0%;
    }

    .grid-row.grid-mosaic-lg-12 > [class*="grid-column-lg-"]:nth-last-child(-n+12),
    .grid-row.grid-mosaic-lg-6 > [class*="grid-column-lg-"]:nth-last-child(-n+6),
    .grid-row.grid-mosaic-lg-4 > [class*="grid-column-lg-"]:nth-last-child(-n+4),
    .grid-row.grid-mosaic-lg-3 > [class*="grid-column-lg-"]:nth-last-child(-n+3),
    .grid-row.grid-mosaic-lg-2 > [class*="grid-column-lg-"]:nth-last-child(-n+2),
    .grid-row.grid-mosaic-lg-1 > [class*="grid-column-lg-"]:nth-last-child(-n+1) {
        margin-bottom: 0;
    }
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
@media (min-width: 1281px) {
    .grid-row.grid-mosaic-xl-12 > [class*="grid-column-xl-"]:nth-child(12n+1):not(:first-child),
    .grid-row.grid-mosaic-xl-6 > [class*="grid-column-xl-"]:nth-child(6n+1):not(:first-child),
    .grid-row.grid-mosaic-xl-4 > [class*="grid-column-xl-"]:nth-child(4n+1):not(:first-child),
    .grid-row.grid-mosaic-xl-3 > [class*="grid-column-xl-"]:nth-child(3n+1):not(:first-child),
    .grid-row.grid-mosaic-xl-2 > [class*="grid-column-xl-"]:nth-child(2n+1):not(:first-child),
    .grid-row.grid-mosaic-xl-1 > [class*="grid-column-xl-"]:nth-child(1n+1):not(:first-child) {
        margin-left: 0;
        clear: both;
    }

    .grid-row[class*="grid-mosaic-xl-"] > [class*="grid-column-xl-"] {
        margin-bottom: 2.0%;
    }

    .grid-row.grid-mosaic-xl-12 > [class*="grid-column-xl-"]:nth-last-child(-n+12),
    .grid-row.grid-mosaic-xl-6 > [class*="grid-column-xl-"]:nth-last-child(-n+6),
    .grid-row.grid-mosaic-xl-4 > [class*="grid-column-xl-"]:nth-last-child(-n+4),
    .grid-row.grid-mosaic-xl-3 > [class*="grid-column-xl-"]:nth-last-child(-n+3),
    .grid-row.grid-mosaic-xl-2 > [class*="grid-column-xl-"]:nth-last-child(-n+2),
    .grid-row.grid-mosaic-xl-1 > [class*="grid-column-xl-"]:nth-last-child(-n+1) {
        margin-bottom: 0;
    }
}